body {
  font-family: "Lato", sans-serif;
}
.navbar-start {
  width: 42%;
}

/* custom media screens */
@media screen and (max-width: 640px) {
  .btn {
    min-height: 0;
  }
  .btn-circle {
    width: 30px;
    height: 30px;
  }
}
